:root {
  --primary-color: #49274a;
  --secondary-color: #94618e;
  --text: #49274a;
  --secondary-background: #f4decb;
  --card-background: #f8eee7;
  --plus: green;
  --minus: red;
  --disabled-text: #5e5e5e;
  --disabled-background: #d7cec7;
  --disabled-border: #5e5e5e;
}

* {
  margin: 0;
  padding: 0;
}

input:focus {
  outline: green;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.app-container {
  color: var(--text);
  font-family: 'Garamond', serif;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.strapline,
.counter-container {
  align-items: center;
  border: var(--primary-color) 5px solid;
  border-radius: 10px;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.strapline {
  display: flex;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.counter-container {
  flex-flow: column nowrap;
  height: auto;
  margin-top: 1%;
}

.card-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
}

.reset-all-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img.logo {
  height: 100%;
  object-fit: cover;
  width: 30%;
}

.name {
  align-items: center;
  color: var(--secondary-color);
  display: flex;
  font-size: min(calc(13vw + 1rem), 10rem);
  height: 100%;
  justify-content: center;
  max-height: 150px;
  text-align: center;
  width: 70%;
}

.title,
.reset {
  font-weight: bold;
  overflow: visible;
  width: 90%;
  text-align: center;
  font-size: min(calc(1rem + 4vw), 4rem);
  padding: 0 5px;
}

.reset {
  font-size: 2rem;
  padding: 0 20px 2%;
}

button {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  font-family: inherit;
  font-size: 2rem;
  padding: 0 2%;
  cursor: pointer;
}

.click-container {
  align-items: center;
  background-color: var(--card-background);
  border: var(--secondary-color) 5px solid;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  font-size: 2rem;
  height: auto;
  margin: 2% auto;
  padding: 2%;
  position: relative;
  width: 90vw;
}

.counter,
.settings {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin: 1% 0;
}

.number,
.box {
  background-color: white;
  border: transparent 2px solid;
  border-radius: 50px;
  color: inherit;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: center;
  margin: 0 1%;
  padding: 1%;
  text-align: center;
  width: 30%;
}

.st-text {
  flex-grow: 2;
  font-size: 1rem;
  padding-right: 2%;
  text-align: center;
}

.submit,
#increment {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 25%;
}

.plus,
.minus {
  align-items: center;
  display: flex;
  justify-content: center;
}

.plus {
  color: var(--plus);
}

.minus {
  color: var(--minus);
}

.disabled {
  color: var(--disabled-text);
  background-color: var(--disabled-background);
  border-color: var(--disabled-border);
  cursor: not-allowed;
}

.reset-all {
  background-color: var(--secondary-color);
  border-radius: 10px;
  color: var(--secondary-background);
  font-size: 2rem;
  width: 99%;
  padding: 1% 0;
  margin: 1% 0;
}

@media screen and (min-width: 1020px) {
  .app-container {
    justify-content: stretch;
  }

  .strapline {
    height: 18vh;
  }

  .card-container {
    flex-direction: row;
    min-height: 75vh;
    align-items: stretch;
    min-height: 60vh;
  }

  button {
    font-size: 3rem;
  }

  img.logo {
    object-fit: contain;
  }

  .click-container {
    min-height: 100%;
    margin: 0.5%;
  }

  .counter {
    flex-direction: row;
    flex-grow: 2;
  }

  .settings {
    margin-top: 5%;
  }

  .box.reset {
    width: auto;
  }

  .reset,
  .number {
    font-size: min(calc(1rem + 4vw), 3rem);
  }
}
